@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    padding-top: 100px;
    background: #B958A5;
}
.container{
    max-width: 300px;
    margin: auto;
    background: #4C3F91;
    padding: 20px;
    color: white;
    border-radius: 5px;
}

h1{
    margin-bottom: 10px;
}

input{
    display: block;
    padding: 5px;
    width: 90%;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
}

button{
    margin-left: 110px;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #EBE645;
    padding: 10px;
    border-radius: 5px;
}

.github{
    margin-top: 20px;
    text-align: center;
}

.github a{
    color: black;
}

.github p{
    font-size: 12px;
    font-style: italic;
}

ion-icon{
    font-size: 50px;
}